@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
	margin-top: 0px;
}

a:link, a:visited{
	text-decoration: none;
}

a:hover, a:active{
	text-decoration: underline;
}
/* START: Contact Section */
#contact #headshot {
	display: none;
}

#contact h2 {
	float:left;
	width: 60%;
}
#contact dl {
	float:right;
	width: 40%;
}

#contact {
	overflow: auto;
	width: 100%;
}
/* END: Contact Section */
/* START: Experience */
.technologies ul {
	overflow: auto;
	width: 100%;
}

.JobTitle {
	margin-left: 40px;
	margin-top: 20px;
}

.JobDescription dl dt:nth-child(1), .JobDescription dl dt:nth-child(3){
	display: none;
}

.JobDescription .CompanyName, .JobDescription .EmploymentPeriod{
	margin-left: 0px;
}

.JobTitle {
	font-weight: bold;
	font-size: 18px;
}
/* END: Experience */
/* START: Education */
#education dl {
	margin-left: 40px;
}
.DegreeDescription dl dt:nth-child(1), .DegreeDescription dl dt:nth-child(3){
	display: none;
}
.university {
	font-weight: bold;
	font-size: 18px;
	margin-top: 25px;
}
.degree {
	margin-left: -80px;
}
.DegreePeriod {
	margin-left: -80px;
}
/* END: Education */
/* START: Affiliations */
#affiliations dl {
	margin-left: 40px;
}
.affiliation {
	font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
}
.AffiliationPeriod {
	margin-left: -80px;
}
.AffiliationDescription dl dt:nth-child(1){
	display: none;
}
/* END: Affiliatins */
@media 
	only screen and (max-width: 469px)  {
	/* Single-column header */
	#contact dd { 
		margin: 0px;
		padding-bottom: 3px;
		padding-top: 3px;
	}

	#contact h2 {
		margin: 0px;
		width: 100%;
		text-align: center;
	}

	#contact dl {
		margin: 0px;
		width: 100%;
		text-align: center;
	}

	#contact dd span:nth-child(2) {
		display: none;
	}

	#contact dd span:nth-child(1) {
		display: block;
	}

	#contact dt {
		display: none;
	}

	.technologies li{
		line-height:1.5em;
		float:left;
		display:inline;
		width: 100%;
	}

	#experience h2, #education h2, #affiliations h2{
		text-align: center;
		margin-top: 16px;
	}
}

@media 
	only screen and (min-width: 470px) and (max-width: 760px)  {
	/* Two-column header with no label*/
	#contact dd { 
		float:right;
		padding-bottom: 3px;
		padding-top: 3px;
		width:80%;
	}
	#contact dd span:nth-child(2) {
		display: none;
	}

	#contact dd span:nth-child(1) {
		display: block;
	}
	#contact h2 {
		float:left;
		width: 50%;
	}
	#contact dl {
		float:right;
		width: 50%;
	}

	#contact dt {
		display: none;
	}

	.technologies li{
		line-height:1.5em;
		float:left;
		display:inline;
		width: 50%;
	}

	.JobDescription dl .EmploymentPeriod{
		margin-top: -23px;
		margin-left: 56%;
	}

	.JobTitle, .CompanyName {
		border-bottom: 1px black solid;
		padding-bottom: 2px;
		margin-bottom: 2px;
		padding-top: 2px;
	}
	.DescriptionLabel {
		padding-top: 2px;
		margin-top: 2px;
	}
	.CompanyName .CompanyLocation {
		display: none;
	}
}

@media 
	only screen and (min-width: 761px) and (max-width: 1049px)  {
		/* Two-column header with label */
	#contact dt {
		float:left;
		width:20%;
	}
	#contact dd {
		float:right;
		width:80%;
		margin-top: -18px;
	}
	#contact span:nth-child(2) {
		display: none;
	}

	#contact span:nth-child(1) {
		display: block;
	}

	.technologies li{
		line-height:1.5em;
		float:left;
		display:inline;
		width: 33.33%;
	}

	.JobDescription dl .EmploymentPeriod{
		margin-top: -23px;
		margin-left: 58.5%;
	}

	.JobTitle, .CompanyName {
		border-bottom: 1px black solid;
		padding-bottom: 2px;
		margin-bottom: 2px;
		padding-top: 2px;
	}
	.DescriptionLabel {
		padding-top: 2px;
		margin-top: 2px;
	}
}

@media 
	only screen and (min-width: 1050px)  {
	/* Allow the address to be on a single line*/
	#contact dt {
		float:left;
		width:20%;
	}
	#contact dd {
		float:right;
		width:80%;
		margin-top: -18px;
	}

	.technologies li{
		line-height:1.5em;
		float:left;
		display:inline;
		width: 25%;
	}

	.JobDescription dl .EmploymentPeriod{
		margin-top: -23px;
		margin-left: 58.5%;
	}

	.JobTitle, .CompanyName {
		border-bottom: 1px black solid;
		padding-bottom: 2px;
		margin-bottom: 2px;
		padding-top: 2px;
	}
	.DescriptionLabel {
		padding-top: 2px;
		margin-top: 2px;
	}
}